<html>
    <head>
        <title>To Do List</title>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha384-rY/jv8mMhqDabXSo+UCggqKtdmBfd3qC2/KvyTDNQ6PcUJXaxK1tMepoQda4g5vB" crossorigin="anonymous"></script>
        <script src="./assets/todo-list.js" type="text/javascript"></script>        
        <link href="./assets/styles.css" rel="stylesheet" type="text/css"/>
    </head>

    <body>
        <h1>My Todo list</h1>
        <div id="todo-table">
            <form>
                <input type="text" name="item" placeholder="Add new item..." required />
                <button type="submit"> Add Item</button>
            </form>
            <ul>
                <% todos.forEach(function(x){ %>
                    <li><%=x.item%></li>
                <%}); %>
            </ul>
        </div>
    </body>
</html>